doctype html
html(lang='en')
  head
    title Reuben Fischer-Baum – Awards and talks
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='description', content="TK")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Reuben Fischer-Baum')
    meta(property='og:title', content='Reuben Fischer-Baum – Awards and talks')
    meta(property='og:url', content='https://www.reubenfb.com')
    meta(property='og:image', content='TK')
    meta(property='og:description', content="TK")
    link(rel='canonical', href='https://www.reubenfb.com')
    link(rel = 'stylesheet' type='text/css' href = 'awards.css')
  body
    .container
      h1 Awards & Recognition
      p 
        strong Malofiej Awards for Infographics:
        |  Gold medal in 2017, plus an additional five silver and four bronze medals.

      p 
        strong SND, Best of Digital Design:
        |  Two silver medals in 2017 and 2020, plus an additional seven bronze medals and 33 awards of excellence.

      p 
        strong Information is Beautiful Awards: 
        |  Gold medal for outstanding team at FiveThirtyEight in 2017, plus an additional bronze medal and two shortlisted projects.

      p 
        strong Sigma/GEN Data Journalism Awards: 
        |  Work included in winning submission for Data Journalism Website of the Year in 2016, finalist for Best Visualization in 2017, shortlist for Best News App in 2020.

      p 
        strong Other: 
        |  Finalist for the 2022 Innovation in Investigative Journalism Award at the ONA awards, July 2021 Sidney Award for investigative journalism, Associated Press Sports Editor Award Finalist 2018, undergrad thesis won the Gaylord Donnelly prize for best work in environmental studies.

      h1 Fellowships 

      p 
        | 2021-2022 Nieman Fellow at Harvard University
        br
        | 2017-2018 Paul Miller Fellow at the National Press Foundation

      h1 Conference talks

      p
        | Rice Visual Communication Symposium (2023)
        br
        | CCSNE (2023)
        br 
        | New England Newspaper Convention (2023)
        br 
        | Information+ (2018 keynote)
        br
        | NICAR (2016)

      h1 Classroom

      p I taught Data Visualization & Information Aesthetic at Parsons School of Design from 2015-2017.

      p I’ve lectured and led workshops at the Harvard Kennedy School, Harvard College, Columbia Journalism School, Columbia GSAPP, Tufts University, Skidmore College, Microsoft Research, and NYU.