doctype html
html
  head
    title Reuben Fischer-Baum
    link(rel='stylesheet', href='app.css')
  body
    h1 Reuben Fischer-Baum!

    - data = _.sortBy(data, date).reverse()
    for graphic in data
      .graphic-container
        | #{graphic.date}
      
