doctype html
html(lang='en')
  head
    title Recreating the Past – Ken Knowlton
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    link(rel = 'stylesheet' type='text/css' href = 'knowlton.css')
  body
    .top-container
      .topper
        h1 Ken Knowlton
        h2 Recreating the Past – MIT Spring 2022

    .art-container
      .poem#poem1
      //- .poem#poem2
      #canvas

    script(async src = 'js/knowlton.js')
              
