doctype html
html(lang='en')
  head
    title Recreating the Past – Pixel career
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    //- meta(name='description', content="Selected projects that I've made or edited")
    //- meta(name='viewport', content='width=device-width, initial-scale=1')
    //- meta(name='author', content='Reuben Fischer-Baum')
    //- meta(property='og:title', content="Reuben Fischer-Baum")
    //- meta(property='og:url', content='https://www.reubenfb.com')
    //- meta(property='og:image', content='https://www.reubenfb.com/images/rocky-de-la-fuente.jpg')
    //- meta(property='og:description', content="Selected projects that I've made or edited")
    //- link(rel='canonical', href='https://www.reubenfb.com')
    link(rel = 'stylesheet' type='text/css' href = 'pixelCareer.css')
  body
    .top-container
      .intro
        h1 Choropleths
        h2 Recreating the Past – MIT Spring 2022

    .art-container
        img(src='./images/choroplethAvg.png')
        p Pixel averaging of 112 maps of the U.S. I created for SportsNation Divided, Deadspin/Gawker and FiveThirtyEight from 2011 to 2016
              
