@import '../app.scss';

#canvas-container {
  position: relative;
  // This is hardcoded for now
  .blocker {
    height: 50%;
    padding-top: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
  }
}