@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Cousine:400,700');

$mono: 'Cousine';

@mixin colParams($colNum){
  -moz-column-count: $colNum;
  -webkit-column-count: $colNum;
  column-count: $colNum;
  width: $colNum * 313px + 15px * ($colNum - 1);
}

body {
  text-align: center;
  font-family: 'Lato';
  font-weight: 300;
  @media screen and (max-width: 374px){
    margin: 3px;
  }
  a {
    color: #222;
    text-decoration: none;
  }
  .intro {
    text-align: left;
    padding: 45px 0px 40px 0px;
    line-height: 1.5;
    @media screen and (max-width: 580px){
      padding: 25px 0px 20px 0px;
    }
    h1 {
      font-family: $mono;
      font-weight: 700;
      margin: 0px;
      font-size: 48px;
      text-transform: uppercase;
      line-height: 1.2;
      @media screen and (max-width: 580px){
        font-size: 30px;
      }
    }
    p {
      max-width: 1030px;
      margin-top: 20px;
      font-size: 21px;
      padding-left: 3px;
      font-weight: 300;
      .orange {
        color: #ff5a00;
        font-weight: 700;
      }
      a:hover {
        color: #222;
      }
      @media screen and (max-width: 580px){
        font-size: 16px;
      }
    }
  }
  .top-container {
    display: inline-block;
    @media screen and (min-width: 1297px) {
      width: 1297px;
    }
    @media screen and (min-width: 969px) and (max-width: 1296px) {
      width: 969px;
      p {
        max-width: 900px;
      }
    }
    @media screen and (min-width: 641px) and (max-width: 968px) {
      width: 641px;
    }
    @media screen and (max-width: 640px) {
      width: 100%;
    }
    .graphics-container {
      height: 100%;
      display: inline-block;
      .column-container {
        display: none;
        -moz-column-gap: 15px;
        -webkit-column-gap: 15px;
        column-gap: 15px;
        &.four-column {
          @include colParams(4);
          @media screen and (min-width: 1289px) {
            display: block;
          }
        }
        &.three-column {
          @include colParams(3);
          @media screen and (min-width: 963px) and (max-width: 1288px) {
            display: block;
          }
        }
        &.two-column {
          @include colParams(2);
          @media screen and (min-width: 637px) and (max-width: 962px) {
            display: block;
          }
        }
        &.one-column {
          @include colParams(1);
          @media screen and (max-width: 636px) {
            display: block;
          }
        }
        .graphic {
          border-radius: 12px;
          overflow: hidden;
          width: 309px;
          height: 309px;
          border: 2px solid #ccc;
          margin-bottom: 15px;
          position: relative;
          break-inside: avoid;
          .filter {
            background-color: rgba(255, 255, 255, 0.8);
            height: 100%;
            width: 100%;
            position: absolute;
          }
          .title {
            font-family: $mono;
            text-align: left;
            position: absolute;
            top: 12px;
            left: 12px;
            width: calc(100% - 24px);
            font-size: 17px;
            line-height: 1.4;
            color: #000;
          }
          .cutout {
            width: 100%;
            height: 100%;
          }
          &.small {
            height: 145px;
            .cutout {
              height: 145px;
            }
          }
          &:hover {
            border-color: #000;
            .filter {
              background-color: rgba(255,255,255,0);
            }
            .title {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
