@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Cousine:700');

@mixin colParams($colNum){
  -moz-column-count: $colNum;
  -webkit-column-count: $colNum;
  column-count: $colNum;
  width: $colNum * 315px + 15px * ($colNum - 1);
}

body {
  text-align: center;
  font-family: 'Lato';
  font-weight: 300;
  @media screen and (max-width: 374px){
    margin: 3px;
  }
  a {
    color: #222;
    text-decoration: none;
  }
  .intro {
    text-align: left;
    padding: 40px 0px 30px 0px;
    @media screen and (max-width: 580px){
      padding: 20px 0px 10px 0px;
    }
    h1 {
      font-family: 'Cousine';
      font-weight: 700;
      margin: 0px;
      font-size: 48px;
      text-transform: uppercase;
      line-height: 1.2;
      display: inline;
      @media screen and (max-width: 580px){
        font-size: 30px;
      }
      .space {
        font-size: 0.6em;
      }
    }
    p {
      max-width: 1030px;
      margin-top: 20px;
      font-size: 21px;
      padding-left: 3px;
      font-weight: 300;
      line-height: 1.55;
      .orange {
        color: #ff5a00;
        font-weight: 700;
      }
      a:hover {
        color: #222;
      }
      @media screen and (max-width: 580px){
        font-size: 17px;
        margin-top: 15px;
      }
    }
  }
  .top-container {
    display: inline-block;
    @media screen and (min-width: 1297px) {
      width: 1297px;
    }
    @media screen and (min-width: 969px) and (max-width: 1296px) {
      width: 969px;
      p {
        max-width: 900px;
      }
    }
    @media screen and (min-width: 641px) and (max-width: 968px) {
      width: 641px;
    }
    @media screen and (max-width: 640px) {
      width: 100%;
    }
    .edit-container {
      padding-bottom: 20px;
      text-align: justify;
      font-size: 15px;
      font-weight: 300;
      text-transform: uppercase;
      .whitespace {
        display: inline-block;
      }
      a {
        margin-left: 5px;
        color: #000;
        &:hover {
          color: #ff5a00;
          font-weight: 700;
        }
        &:after {
          content: '•';
          margin-left: 5px;
          font-size: 10px;
        }
        &:first-of-type {
          margin-left: 0px;
        }
        &:last-of-type {
         &:after {
            content: '';
            margin-left: 0px;
         }
        }
      }
    }
    .made-container {
      height: 100%;
      display: inline-block;
      padding-bottom: 50px;
      .column-container {
        display: none;
        -moz-column-gap: 15px;
        -webkit-column-gap: 15px;
        column-gap: 15px;
        &.four-column {
          @include colParams(4);
          @media screen and (min-width: 1289px) {
            display: block;
          }
        }
        &.three-column {
          @include colParams(3);
          @media screen and (min-width: 963px) and (max-width: 1288px) {
            display: block;
          }
        }
        &.two-column {
          @include colParams(2);
          @media screen and (min-width: 637px) and (max-width: 962px) {
            display: block;
          }
        }
        &.one-column {
          @include colParams(1);
          @media screen and (max-width: 636px) {
            display: block;
          }
        }
        .graphic {
          border-radius: 8px;
          width: 309px;
          height: 309px;
          border: 1px solid #ccc;
          margin-bottom: 17px;
          position: relative;
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
          break-inside: avoid;
          .title {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            font-family: Lato;
            font-weight: 400;
            text-align: left;
            position: absolute;
            padding: 6px 8px;
            width: calc(100% - 16px);
            font-size: 16px;
            line-height: 1.4;
            color: #000;
            background-color: rgba(255,255,255, 0.95);
            border-bottom: 1px solid #ccc;
          }
          .cutout {
            width: 100%;
            height: 100%;
            border-radius: inherit;
          }
          &.small {
            height: 145px;
            .cutout {
              height: 145px;
            }
          }
          &.chosen, &.userHover {
            border-color: #000;
            .title {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
