@import 'app.scss';

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format("truetype-variations");
  font-weight: 200 900;
}

.intro {
  text-align: center !important;
  h2 {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

.art-container {
  .poem, #canvas {
    vertical-align: top;
  }
  .poem {
    position: relative;
    display: inline-block;
    background-color: #000;
    padding: 20px 0px 20px 20px;
    @media screen and (max-width: 900px){
      padding: 20px 20px 0px 20px;
    }
    div {
      position: absolute;
      padding-left: inherit;
      padding-top: inherit;
      display: inline-block;
      font-family: Inconsolata;
      font-size: 16px;
      color: #fff;
    }
  }

  #canvas {
    display: inline-block;
    canvas {
      padding: 20px;
      background-color: #000;
    }
  }
}