@import 'app.scss';

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format("truetype-variations");
  font-weight: 200 900;
}

.intro {
  text-align: center !important;
  h2 {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

#container {
  width: 960px;
  height: 960px;
  margin: 0 auto;
  flex-flow: row wrap;
  display: flex;
  align-content: flex-start;

  #canvas-container {
    height: 240px;
    width: 320px;
    background-color: #ccc;
  }

}