doctype html
html(lang='en')
  head
    title Hide Your Eyes – Webcam studies
    link(rel='shortcut icon', type='image/x-icon', href='../images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='../images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    link(rel = 'stylesheet' type='text/css' href = 'array.css')
    script(src = 'https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.js')
    script(src='https://www.auduno.com/clmtrackr/build/clmtrackr.min.js')
    meta(property='og:title', content="Hide Your Eyes – Webcam studies")
    meta(property='og:image', content='../images/studies/array.png')
    meta(property='og:description', content="Final project for Recreating the Past (MIT Spring 2022)")
  body
    .top-container
      .topper
        h1 Hide Your Eyes
        h2 Final project for Recreating the Past (MIT Spring 2022)

      .video-container

        .webcam-container
          video#webcam1(width='320', height='240', muted preload='auto')
            source(src='../images/webcam_array/webcam1.mp4', type='video/mp4')
          video#webcam2(width='320', height='240', muted preload='auto')
            source(src='../images/webcam_array/webcam2.mp4?=1', type='video/mp4')
          video#webcam3(width='320', height='240', muted preload='auto')
            source(src='../images/webcam_array/webcam3.mp4', type='video/mp4')
          video#webcam4(width='320', height='240', muted preload='auto')
            source(src='../images/webcam_array/webcam4.mp4?=2', type='video/mp4')
          video#webcam5(width='320', height='240', muted preload='auto')
            source(src='../images/webcam_array/webcam5.mp4?=1', type='video/mp4')
          #fake-container
          video#webcam6(width='320', height='240', muted preload='auto')
            source(src='../images/webcam_array/webcam6.mp4?=1', type='video/mp4')
          video#webcam7(width='320', height='240', muted preload='auto')
            source(src='../images/webcam_array/webcam7.mp4?=2', type='video/mp4')
          video#webcam8(width='320', height='240', muted preload='auto')
            source(src='../images/webcam_array/webcam8.mp4?=1', type='video/mp4')

        .mosaic-container
          video#mosaic1(width='320', height='240', autoplay loop muted preload='auto')
            source(src='../images/webcam_array/mosaic1.mp4', type='video/mp4')
          video#mosaic2(width='320', height='240', autoplay loop muted preload='auto')
            source(src='../images/webcam_array/mosaic2.mp4?=1', type='video/mp4')
          video#mosaic3(width='320', height='240', autoplay loop muted preload='auto')
            source(src='../images/webcam_array/mosaic3.mp4', type='video/mp4')
          video#mosaic4(width='320', height='240', autoplay loop muted preload='auto')
            source(src='../images/webcam_array/mosaic4.mp4?=2', type='video/mp4')
          video#mosaic5(width='320', height='240', autoplay loop muted preload='auto')
            source(src='../images/webcam_array/mosaic5.mp4?=1', type='video/mp4')
          #canvas-container
          video#mosaic6(width='320', height='240', autoplay loop muted preload='auto')
            source(src='../images/webcam_array/mosaic6.mp4?=1', type='video/mp4')
          video#mosaic7(width='320', height='240', autoplay loop muted preload='auto')
            source(src='../images/webcam_array/mosaic7.mp4?=2', type='video/mp4')
          video#mosaic8(width='320', height='240', autoplay loop muted preload='auto')
            source(src='../images/webcam_array/mosaic8.mp4?=1', type='video/mp4')

    script(src = '../js/array.js')
