doctype html
html(lang='en')
  head
    title Color/Music – Webcam studies
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    link(rel = 'stylesheet' type='text/css' href = 'color_music.css')
    script(src = 'https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js')
  body
    .top-container
      .topper
        h1 Color/Music
        h2 Inspired by Myron Krueger. Show the webcam colorful objects to control the music.

      #button CLICK TO START (can’t autoplay music)
      #canvas-container

    script(src = '../js/color_music.js')