doctype html
html(lang='en')
  head
    title Color/Music – Webcam studies
    link(rel='shortcut icon', type='image/x-icon', href='../images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='../images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    link(rel = 'stylesheet' type='text/css' href = 'color_music.css')
    script(src = 'https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Color/Music – Webcam studies')
    meta(property='og:image', content='https://www.reubenfb.com/images/studies/color_music.png')
    meta(property='og:description', content='Inspired by Myron Krueger. Show the webcam colorful objects to control the music.')
    meta(property='og:url', content='https://www.reubenfb.com/webcam/color_music.html')
  body
    a.back-button(href='./studies.html') ← More studies
    .top-container
      .topper
        h1 Color/Music
        h2 Inspired by Myron Krueger. Show the webcam colorful objects to control the music.

      #button CLICK TO START<br>(can’t autoplay music)
      #canvas-container

    script(src = '../js/color_music.js')