doctype html
html(lang='en')
  head
    title Face/On – Webcam studies
    link(rel='shortcut icon', type='image/x-icon', href='../images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='../images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    link(rel = 'stylesheet' type='text/css' href = '../app.css')
    script(src = 'https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.js')
    script(src = 'https://cdn.jsdelivr.net/npm/@vladmandic/face-api@1/dist/face-api.js')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Face averager – Webcam studies')
    meta(property='og:image', content='TKTK')
    meta(property='og:description', content='TKTK')
    meta(property='og:url', content='https://www.reubenfb.com/webcam/face_averager.html')
  body
    a.back-button(href='./studies.html') ← More studies
    .top-container
      .topper
        h1 Face/On
        h2 
          | Continuously overlays screenshots of your face onto your face. Inspired by 
          a(href="http://salavon.com/work/SpecialMoments/") Jason Salavon’s
          |  work.

      #canvas-container

    script(src = '../js/face_on.js')