doctype html
html(lang='en')
  head
    title Pixelated – Webcam studies
    link(rel='shortcut icon', type='image/x-icon', href='../images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='../images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    link(rel = 'stylesheet' type='text/css' href = 'pixelated.css')
    script(src = 'https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.js')
  body
    .top-container
      .topper
        h1 Pixelated
        h2 Inspired by Ken Knowlton. First time doing this with live webcam vs. image/video files.

      #canvas-container
        .blocker

    script(src = '../js/pixelated.js')