doctype html
html(lang='en')
  head
    title Webcam studies – Reuben Fischer-Baum 
    link(rel='shortcut icon', type='image/x-icon', href='../images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='../images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    link(rel = 'stylesheet' type='text/css' href = 'studies.css?v=1')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Webcam studies – Reuben Fischer-Baum')
    meta(property='og:image', content='https://www.reubenfb.com/images/studies/text.png')
    meta(property='og:description', content='Some (desktop-optimized) experiments with the webcam')
    meta(property='og:url', content='https://www.reubenfb.com/webcam/studies.html')
  body
    .top-container
      .topper
        h1 Webcam studies
        h2 Some (desktop-optimized) experiments with the webcam

    .studies-container

      a(href='face_on.html')
        .study
          h3.title Face/On
          p.date 1.5.2023
          img(src='../images/studies/face_on.png')

      a(href='contour.html')
        .study
          h3.title Contour
          p.date 9.4.2022
          img(src='../images/studies/contour.png')

      a(href='face_eraser.html')
        .study
          h3.title Face Eraser
          p.date 7.16.2022
          img(src='../images/studies/face_eraser.png')

      a(href='rotation.html')
        .study
          h3.title Rotation
          p.date 6.27.2022
          img(src='../images/studies/rotation.png')

      a(href='text.html')
        .study
          h3.title Text
          p.date 6.18.2022
          img(src='../images/studies/text.png')

      a(href='pixelated.html')
        .study
          h3.title Pixelated
          p.date 6.7.2022
          img(src='../images/studies/pixelated.png')

      a(href='array.html')
        .study
          h3.title Hide Your Eyes
          p.date 5.4.2022
          img(src='../images/studies/array.png')

      a(href='color_music.html')
        .study
          h3.title Color/Music
          p.date 3.30.2022
          img(src='../images/studies/color_music.png')