doctype html
html(lang='en')
  head
    title Webcam studies – Reuben Fischer-Baum 
    link(rel='shortcut icon', type='image/x-icon', href='../images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='../images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    link(rel = 'stylesheet' type='text/css' href = 'studies.css?v=1')
  body
    .top-container
      .topper
        h1 Webcam studies
        h2 A series of experiments with the webcam

    .studies-container

      a(href='pixelated.html')
        .study
          h3.title Pixelated
          p.date 6.7.2022
          img(src='../images/studies/pixelated.png')

      a(href='array.html')
        .study
          h3.title Hide Your Eyes
          p.date 5.4.2022
          img(src='../images/studies/array.png')

      a(href='color_music.html')
        .study
          h3.title Color/Music
          p.date 3.30.2022
          img(src='../images/studies/color_music.png')