doctype html
html(lang='en')
  head
    title Text – Webcam studies
    link(rel='shortcut icon', type='image/x-icon', href='../images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='../images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    link(rel = 'stylesheet' type='text/css' href = 'text.css')
    script(src = 'https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.js')
    meta(property='og:title', content="Text – Webcam studies")
    meta(property='og:image', content='https://www.reubenfb.com/images/studies/text.png')
    meta(property='og:description', content="Inspired by Ken Knowlton, using variable weight fonts.")
  body
    .top-container
      .topper
        h1 Text
        h2 Inspired by Ken Knowlton, using variable weight fonts.

    .art-container
      #text
      #canvas-container
        .blocker
        .form-container
          textarea(form = 'textform')
            | Enter your own text here (only first 1,250 characters will be used, minus whitespace)
          form#textform
            input(type='submit')


    script(src = '../js/text.js')